fastapi
uvicorn[standard]
websockets
aiogram
pydantic-settings
loguru
python-multipart
# p115client will be installed separately from local source
aiohttp
apscheduler==3.10.4
aiofiles
sqlalchemy
aiosqlite
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
